TestDemo/Service References/TestService/HomeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HomeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IHomeService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:19200/HomeService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:19200/HomeService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:19200/HomeService?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHomeService_GetLength_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLength" />
  </wsdl:message>
  <wsdl:message name="IHomeService_GetLength_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLengthResponse" />
  </wsdl:message>
  <wsdl:message name="IHomeService_GetStr_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStr" />
  </wsdl:message>
  <wsdl:message name="IHomeService_GetStr_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStrResponse" />
  </wsdl:message>
  <wsdl:message name="IHomeService_Update_InputMessage">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/Message" name="message" type="q1:MessageBody" />
  </wsdl:message>
  <wsdl:message name="IHomeService_Update_OutputMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/Message" name="UpdateResult" type="q2:MessageBody" />
  </wsdl:message>
  <wsdl:portType name="IHomeService">
    <wsdl:operation name="GetLength">
      <wsdl:input wsaw:Action="http://tempuri.org/IHomeService/GetLength" message="tns:IHomeService_GetLength_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHomeService/GetLengthResponse" message="tns:IHomeService_GetLength_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStr">
      <wsdl:input wsaw:Action="http://tempuri.org/IHomeService/GetStr" message="tns:IHomeService_GetStr_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHomeService/GetStrResponse" message="tns:IHomeService_GetStr_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IHomeService/Update" message="tns:IHomeService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHomeService/UpdateResponse" message="tns:IHomeService_Update_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IHomeService" type="tns:IHomeService">
    <wsp:PolicyReference URI="#NetTcpBinding_IHomeService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetLength">
      <soap12:operation soapAction="http://tempuri.org/IHomeService/GetLength" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStr">
      <soap12:operation soapAction="http://tempuri.org/IHomeService/GetStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/IHomeService/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HomeService">
    <wsdl:port name="NetTcpBinding_IHomeService" binding="tns:NetTcpBinding_IHomeService">
      <soap12:address location="net.tcp://localhost:1920/HomeService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:1920/HomeService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>v_renhuiliu@tencent.com</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>